<footer class="page-footer  blue lighten-10">
    <div class="container white-text" id="footer">
      © 2018 Copyright by Anang Reza Alfarabi
    </div>
  </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>
