<!DOCTYPE html>
<html lang="en">
<head>
  <title>Aplikasi Pulsa</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="http://www.bernadetteengleman.com/img/skills/expressjs.png" />

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <style>
    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
      font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    }

    main {
      flex: 1 0 auto;
      padding-top: 10px;
    }
    form {
      padding-top: 50px;
    }
    #footer{
      margin-bottom: 20px;
      text-align: center
    }
    img{
      margin: 5px auto auto 5px;
    }
  </style>
</head>
<body >
  <header class="nav">
  <nav class="">
    <div class="nav-wrapper blue lighten-1">
      <a class="navbar-brand" href="#"><strong>Pulsa Apps</strong></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down text-darken-2">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/api/transaction">Transaction</a>
        </li>
        <li>
          <a href="/api/operator">Operator</a>
        </li>
        <li>
          <a href="/api/voucher">Voucher</a>
        </li>
      </ul>
    </div>
  </nav>
  </header>
