  <% include ./partials/header %>
    <main>
      <div class="container">
        <form action="/api/voucher/add" method="post">
          <div class="row">
            <div class="input-field col s6">
              <input id="harga" name="harga" type="number" required >
              <label for="harga">Harga</label>
            </div>
          </div>
              <button class="btn waves-effect waves-light" type="submit">Tambah
                <i class="material-icons right">send</i>
              </button>
        </form>
      </div>
    </main>
    <% include ./partials/footer %>
