<% include ./partials/header %>
  <main>
    <div class="container">
      <form class="" action="/api/operator/edit/<%=data.id%>" method="post">
        <div class="row">
          <div class="input-field col s6">
            <input id="nama_operator" name="nama_operator" value="<%=data.nama_operator%>" type="text" >
            <label for="nama_operator">Nama Operator</label>
          </div>
        </div>
            <button class="btn waves-effect waves-light" type="submit">Edit
              <i class="material-icons right">send</i>
            </button>
      </form>
    </div>
  </main>
<% include ./partials/footer %>
