<% include partials/header%>
      <main>
        <div class="container">
          <div class="row">
      <h4>All Operator Data</h4>
      <a id="button" class="waves-effect waves-light btn" href="/api/operator/add">Tambah</a>
      <table border="1" class="highlight">
        <thead>
          <th>No</th>
          <th>Nama Operator</th>
          <th>Option</th>
        </thead>
        <tbody class="highlight">
          <% let no = 0;
           data.forEach(operator => {%>
              <tr>
                <td><%= ++no %></td>
                <td><%=operator.nama_operator%></td>
                <td><a href="/api/operator/edit/<%=operator.id%>">Edit</a> ||
                <a href="/api/operator/delete/<%=operator.id%>"
                  onclick="return confirm('anda yakin ingin menghapus data operator?')">Delete</a></td>
              </tr>
            <%})%>
        </tbody>
      </table>
      </div>
      </div>
      </main>
<% include ./partials/footer %>
