<!DOCTYPE html>
  <html >
    <head>
    <meta charset="UTF-8">
      <title>Custom Login Form</title>
        <link rel="stylesheet" href="assets/css/register.css">
    </head>
    <body>
      <div id="wrapper">
    	<div class="join">Please Register</div>
        <div class="lock"></div>
    	    <div class="clr"></div>
        	  <div class="login-options">Join Today.</div>
            <div class="forms">
              <form action="" method="post" name="register">
                <input name="username" type="text" placeholder="Enter your user name..." size="50" onClick="border: 1px solid #30a8da;" id="username" required/>
                <input name="password" type="password" placeholder="Enter a password..." size="50" onClick="border: 1px solid #30a8da;" id="password" required/><br>
                <input class="create-acc" type="submit" value="Sign Up"/>
              </form>
            </div>
          </div>
        </body>
    </html>
